<h1> New Order: </h1>

<h5>Full Name: <%= @order.user.name %></h5>
<h5>User Email: <%= @order.user.email %></h5>
<h5>User Id: <%= @order.user_id %></h5>
<h5>Order Date / Time: <%= @order.created_at %><br/></h5>
